SUPABASE_URL=http://localhost:8000/                                                                                                                                        
SUPABASE_KEY=dCI6MTc2MTI4NxccFGBFBDIxNCwia
SUPABASE_SERVICE_ROLE_KEY=zIjoic3VwYWJhc2UtccGFDbcdd2VjdXJpdHktdG9vbCIsIn

