SUPABASE_URL=https://supabase.example.com                                                                                                                                      
SUPABASE_SERVICE_ROLE_KEY=your SUPABASE_SERVICE_ROLE_KEY
