NEXT_PUBLIC_GAMESERVER_WS_URL=wss://wss.example.com/ws
NEXT_PUBLIC_SUPABASE_URL=https://supabase.example.com
NEXT_PUBLIC_SUPABASE_REALTIME_URL=wss://supabase.example.com                                                                                                                                    
NEXT_PUBLIC_SUPABASE_ANON_KEY=your NEXT_PUBLIC_SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=your SUPABASE_SERVICE_ROLE_KEY

DEFAULT_CHAMPIONSHIP_ID=1