NEXT_PUBLIC_SUPABASE_URL=http://localhost:8000
NEXT_PUBLIC_SUPABASE_REALTIME_URL=ws://localhost:8000                                                                                                                                     
NEXT_PUBLIC_SUPABASE_ANON_KEY=OTIfghh4MjAyNzQsImlhgddCI6MTdc2MTI4NhDIx
SUPABASE_SERVICE_ROLE_KEY=OTIfghh4MjjjyAyNzQsImlhggddCI6MkkTdc2gMTI4NhDIx
